.thumb {
	animation: thumbKeyframe 10s linear infinite;
}

.trackFill {
	animation: trackFillKeyframe 10s linear infinite;
}

.bufferedFill {
	width: 25%;
	animation: bufferedFillKeyframe 8s linear forwards;
}

@keyframes thumbKeyframe {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 240px;
	}
}

@keyframes trackFillKeyframe {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes bufferedFillKeyframe {
	0% {
		width: 25%;
	}
	24% {
		width: 25%;
	}
	25% {
		width: 50%;
	}
	49% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}
