@font-face {
	font-family: 'Be Vietnam Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/be-vietnam-pro-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/be-vietnam-pro-500.woff2') format('woff2');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('/fonts/be-vietnam-pro-600.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/fira-code-400.woff2') format('woff2');
}

:root {
	--color-surface: #ffffff;
	--color-primary: #f53d7a;
	--color-highlight: #eeeeee;
	--color-gray-50: #fbfbfb;
	--color-gray-100: #f6f6f6;
	--color-gray-200: #d9d9d9;
	--color-gray-300: #737373;
	--color-gray-400: #1a1a1a;
	--color-subtitle: #464646;
	--color-success: #40bf6a;
	--color-error: #d92626;
	--color-beta: #79ec9f;
	--color-soon: #ffb266;

	--shadow-card: 0px 0px 0.3px rgba(0, 0, 0, 0.081),
		0px 0px 0.9px rgba(0, 0, 0, 0.119), 0px 0px 5px rgba(0, 0, 0, 0.2);

	--viewport-width: calc(100vw - var(--scrollbar-width));

	--section-angle-sin: 0.106;
	--section-angle-height: calc(
		var(--viewport-width) * var(--section-angle-sin)
	);
	--section-max-width: 1080px;
	--section-padding-top-base: 40px;
	--section-gutter-width: calc(
		var(--viewport-width) / 2 - var(--section-max-width) / 2
	);
	--section-angle-padding-top: calc(
		var(--section-angle-height) + var(--section-padding-top-base) -
			var(--section-angle-sin) * var(--section-gutter-width)
	);
}

:root.dark {
	color-scheme: dark;

	--color-surface: #1a1a1a;
	--color-primary: #ff6397;
	--color-highlight: #212121;
	--color-gray-50: #1f1f1f;
	--color-gray-100: #242424;
	--color-gray-200: #404040;
	--color-gray-300: #8c8c8c;
	--color-gray-400: #fbfbfb;
	--color-subtitle: #cacaca;
	--color-success: #66cc88;
	--color-error: #e15151;

	--shadow-card: 0px 0px 0.3px rgba(0, 0, 0, 0.242),
		0px 0px 0.9px rgba(0, 0, 0, 0.358), 0px 0px 5px rgba(0, 0, 0, 0.6);
}

:root:not(.dark).high-contrast {
	--color-primary: #cc0044;
	--color-gray-300: #4d4d4d;
	--color-success: #367d4d;
	--color-error: #cc0000;
	--color-beta: #1f7a3d;
	--color-soon: #7a4d1f;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	@apply outline-none;
}

.js-focus-visible [data-focus-visible-added] {
	/*  */
}

* {
	-webkit-tap-highlight-color: transparent;
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
